@use '../theme';
@use '../mixins';

.header_index {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin-top: 20px;
  a {
    cursor: pointer;
    img {
      width: 350px;
    }
  }
  .title_index_responsive {
    display: none;
  }
  nav {
    align-self: center;

    display: flex;
    list-style: none;
  }
}
.title_index {
  position: absolute;
  top: 40px;
  left: 75%;
  color: theme.$secondary-color;
  font-weight: 400;
}
.profil_photographer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.figure_index {
  display: flex;
  flex-direction: column;
  margin: 1em;
  a {
    cursor: pointer;
    text-decoration: inherit;
  }
  img {
    width: 100%;
    height: 22em;
    object-fit: cover;
    clip-path: circle(25%);
  }
  h2 {
    color: theme.$primary-color;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;
  }
  .description {
    text-align: center;
    .lieu {
      color: theme.$secondary-color;
      font-weight: 500;
    }
    .price {
      color: theme.$input-color;
      font-weight: 400;
      font-size: small;
    }
  }
}

@media screen and (max-width: 1500px) {
  .header_index {
    min-width: 100%;
    justify-content: center;
  }
  .title_index {
    position: initial;
    text-align: center;
    margin: 20px 0;
  }
}

@media screen and (max-width: 1200px) {
  .header_index {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    .container_logo_title_responsive {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 70%;
      }
      .title_index_responsive {
        display: block;
        white-space: nowrap;
        color: theme.$secondary-color;
        font-weight: 400;
        font-size: 1.3em;
      }
    }
    .tagsMenu {
      display: flex;
      margin: 20px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .title_index {
    display: none;
  }
  .profil_photographer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
