@use "../theme";
@use "../mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: theme.$font-primary;
}

.header_index {
  display: flex;
  width: 70%;
  justify-content: space-around;
  a {
    cursor: pointer;
  }
  nav {
    align-self: center;

    display: flex;
    list-style: none;
    span {
      @include mixins.styleLinkTags;
    }
    span:hover {
      @include mixins.styleLinkTagsHover;
    }
  }
}
.title_index {
  position: absolute;
  top: 1em;
  left: 75%;
  color: theme.$secondary-color;
  font-weight: 400;
}
.profil_photographer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.figure_index {
  display: flex;
  flex-direction: column;
  margin: 1em;
  a {
    cursor: pointer;
    text-decoration: inherit;
  }
  img {
    width: 100%;
    height: 22em;
    object-fit: cover;
    clip-path: circle(25%);
  }
  h2 {
    color: theme.$primary-color;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;
  }
}
.description {
  text-align: center;
  .lieu {
    color: theme.$secondary-color;
    font-weight: 500;
  }
  .price {
    color: theme.$input-color;
    font-weight: 400;
    font-size: small;
  }
  .tags {
    span {
      @include mixins.styleLinkTags;
      &:hover {
        @include mixins.styleLinkTagsHover;
      }
    }
  }
}

@media screen and (max-width: 1500px){
  .header_index {
    min-width: 100%;
    justify-content: center;
  }
  .title_index{
    position: initial;
    text-align: center;
    margin: 20px 0;
  }
}

@media screen and (max-width: 1200px) {
  .header_index {
    flex-wrap: wrap;
    .tagsMenu{
      display: flex;
      margin: 20px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .profil_photographer{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}