@use '../theme';
@use '../mixins';

.body_photographer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}
.header_photographer {
  margin-top: 15px;
  img {
    margin-left: -40px;
    width: 20%;
  }
}
.profil {
  background-color: theme.$bg-color;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 260px;
  height: 300px;
  padding-top: 40px;
  margin: 20px 0;
  .description {
    text-align: start;
    padding-left: 50px;
  }
  .name {
    display: flex;
    align-items: center;
    color: theme.$primary-color;
    font-weight: 400;
    font-size: 3em;
    button {
      @include mixins.effectButton;
      white-space: nowrap;
      &:hover {
        background-color: lighten(theme.$bg-secondary-color, 15%);
        color: #000;
      }
      &:focus {
        background-color: lighten(theme.$bg-secondary-color, 15%);
        color: #000;
      }
    }
  }
  .lieu {
    color: theme.$secondary-color;
    font-size: 1.2em;
  }
  .tagline {
    color: theme.$input-color;
    margin: 20px 0 10px 0;
  }
  .tagProfil {
    font-size: 1em;
    font-weight: 700;
  }
  .container_img-portrait {
    align-self: center;
    justify-self: right;
    width: 350px;
    .portrait {
      clip-path: circle(25%);
      box-shadow: 10px 5px 5px #000;
      width: 100%;
    }
  }
}
.detailsPhotographer {
  background-color: lighten(theme.$bg-secondary-color, 15%);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 220px;
  height: 50px;
  .like::after {
    @include mixins.heart;
  }
}

.container_classify {
  display: flex;
  flex-direction: row;
  span {
    margin: 10px 0;
  }
  .classify_photos {
    margin-left: 10px;
  }
}

.container_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
  img,
  video {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    object-position: right 30%;
    cursor: pointer;
  }
  figcaption {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    color: theme.$secondary-color;
    font-size: large;
    .like_image {
      cursor: pointer;
    }
  }
}

/**************** Form *********************/

.formSuccessMessage {
  display: none;
  margin: 20px 0;
  font-size: 1.5em;
}

/**************** LightBox *********************/

/****************** Responsive ******************/

@media screen and (max-width: 1000px) {
  .header_photographer {
    img {
      margin-left: 0;
      width: 40%;
    }
  }
  .profil {
    background-color: #fff;
    .name {
      white-space: nowrap;
      button {
        position: fixed;
        margin-left: 0;
        padding: 10px 20px;
        height: auto;
        bottom: 5%;
        left: 40%;
        font-size: 0.4em;
        font-weight: 500;
      }
    }
    .container_img-portrait {
      align-self: end;
      width: 240px
    }
  }
  .details {
    display: none;
  }
  .container_classify {
    display: none;
  }
  .container_img {
    grid-template-columns: 1fr;
  }
}
