*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

.header_index {
  display: flex;
  width: 70%;
  justify-content: space-around;
}
.header_index a {
  cursor: pointer;
}
.header_index nav {
  align-self: center;
  display: flex;
  list-style: none;
}
.header_index nav span {
  cursor: pointer;
  color: #901c1c;
  font-weight: 500;
  font-size: small;
  padding: 0 0.5em;
  margin-right: 0.5em;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
}
.header_index nav span:hover {
  border: 0.5px solid blue;
  border-radius: 11px;
}

.title_index {
  position: absolute;
  top: 1em;
  left: 75%;
  color: #901c1c;
  font-weight: 400;
}

.profil_photographer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.figure_index {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.figure_index a {
  cursor: pointer;
  text-decoration: inherit;
}
.figure_index img {
  width: 100%;
  height: 22em;
  object-fit: cover;
  clip-path: circle(25%);
}
.figure_index h2 {
  color: #d3573c;
  font-weight: 400;
  font-size: xx-large;
  text-align: center;
}

.description {
  text-align: center;
}
.description .lieu {
  color: #901c1c;
  font-weight: 500;
}
.description .price {
  color: #525252;
  font-weight: 400;
  font-size: small;
}
.description .tags span {
  cursor: pointer;
  color: #901c1c;
  font-weight: 500;
  font-size: small;
  padding: 0 0.5em;
  margin-right: 0.5em;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
}
.description .tags span:hover {
  border: 0.5px solid blue;
  border-radius: 11px;
}

@media screen and (max-width: 1500px) {
  .header_index {
    min-width: 100%;
    justify-content: center;
  }

  .title_index {
    position: initial;
    text-align: center;
    margin: 20px 0;
  }
}
@media screen and (max-width: 1200px) {
  .header_index {
    flex-wrap: wrap;
  }
  .header_index .tagsMenu {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profil_photographer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
body {
  margin: 20px 100px;
}

.header_photographer img {
  width: 20%;
}

.profil {
  padding: 30px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profil .name {
  color: #d3573c;
  font-weight: 400;
  font-size: xx-large;
}
.profil .lieu {
  color: #901c1c;
}
.profil .tagline {
  color: #525252;
}
.profil .tags span {
  cursor: pointer;
  color: #901c1c;
  font-weight: 500;
  font-size: small;
  padding: 0 0.5em;
  margin-right: 0.5em;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
}
.profil .tags span:hover {
  border: 0.5px solid blue;
  border-radius: 11px;
}
.profil button {
  background-color: #901c1c;
  color: #fff;
  border: none;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.profil button:active {
  background-color: #7f1919;
}
.profil img {
  overflow: hidden;
  height: 22em;
  object-fit: cover;
  clip-path: circle(25%);
}

.details {
  background-color: #e18d7a;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 220px;
  height: 50px;
}

.container_filter {
  display: flex;
  flex-direction: row;
}
.container_filter span {
  margin: 10px 0;
}

.filter_photos {
  margin-left: 10px;
}
.filter_photos .menu_filter {
  position: absolute;
  list-style: none;
  overflow: hidden;
  border-radius: 10px;
  max-height: 40px;
}
.filter_photos .menu_filter li {
  background-color: #901c1c;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.filter_photos .menu_filter li:hover {
  background-color: #7f1919;
}
.filter_photos .menu_filter .fas {
  margin-left: 5px;
}

.container_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin-top: 20px;
}
.container_img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: right 40%;
}
.container_img figcaption {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  color: #901c1c;
  font-size: large;
}

/*# sourceMappingURL=app.css.map */
