@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

.header_index {
  display: flex;
  width: 70%;
  justify-content: space-around;
}
.header_index a {
  cursor: pointer;
}
.header_index nav {
  align-self: center;
  display: flex;
  list-style: none;
}
.header_index nav span {
  cursor: pointer;
  color: #901c1c;
  font-weight: 500;
  font-size: small;
  padding: 0 0.5em;
  margin-right: 0.5em;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
}
.header_index nav span:hover {
  border: 0.5px solid #901c1c;
  background-color: #901c1c;
  color: #fff;
  border-radius: 11px;
}

.title_index {
  position: absolute;
  top: 1em;
  left: 75%;
  color: #901c1c;
  font-weight: 400;
}

.profil_photographer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.figure_index {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.figure_index a {
  cursor: pointer;
  text-decoration: inherit;
}
.figure_index img {
  width: 100%;
  height: 22em;
  object-fit: cover;
  clip-path: circle(25%);
}
.figure_index h2 {
  color: #d3573c;
  font-weight: 400;
  font-size: xx-large;
  text-align: center;
}

.description {
  text-align: center;
}
.description .lieu {
  color: #901c1c;
  font-weight: 500;
}
.description .price {
  color: #525252;
  font-weight: 400;
  font-size: small;
}
.description .tags span {
  cursor: pointer;
  color: #901c1c;
  font-weight: 500;
  font-size: small;
  padding: 0 0.5em;
  margin-right: 0.5em;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
}
.description .tags span:hover {
  border: 0.5px solid #901c1c;
  background-color: #901c1c;
  color: #fff;
  border-radius: 11px;
}

@media screen and (max-width: 1500px) {
  .header_index {
    min-width: 100%;
    justify-content: center;
  }

  .title_index {
    position: initial;
    text-align: center;
    margin: 20px 0;
  }
}
@media screen and (max-width: 1200px) {
  .header_index {
    flex-wrap: wrap;
  }
  .header_index .tagsMenu {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profil_photographer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
body {
  margin: 0 250px;
}

.header_photographer {
  margin: 10px 0;
}
.header_photographer img {
  width: 20%;
}

.profil {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 260px;
  height: 300px;
  padding-top: 40px;
  margin-bottom: 20px;
}
.profil .description {
  text-align: start;
  padding-left: 50px;
}
.profil .name {
  display: flex;
  align-items: center;
  color: #d3573c;
  font-weight: 400;
  font-size: 3em;
}
.profil .name button {
  border: none;
  background-color: #901c1c;
  color: #fff;
  font-weight: 700;
  height: 50px;
  padding: 10px;
  margin-left: 100px;
  border-radius: 5px;
  cursor: pointer;
}
.profil .name button:hover {
  background-color: #e18d7a;
  color: #000;
}
.profil .name button:focus {
  background-color: #e18d7a;
  color: #000;
}
.profil .lieu {
  color: #901c1c;
  font-size: 1.2em;
}
.profil .tagline {
  color: #525252;
  margin: 20px 0 10px 0;
}
.profil .tags span {
  cursor: pointer;
  color: #901c1c;
  font-weight: 500;
  font-size: small;
  padding: 0 0.5em;
  margin-right: 0.5em;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  font-size: 1em;
  font-weight: 700;
}
.profil .tags span:hover {
  border: 0.5px solid #901c1c;
  background-color: #901c1c;
  color: #fff;
  border-radius: 11px;
}
.profil img {
  justify-self: right;
  align-self: center;
  overflow: hidden;
  height: 22em;
  object-fit: cover;
  clip-path: circle(25%);
  box-shadow: 10px 5px 5px #000;
}

.details {
  background-color: #e18d7a;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 220px;
  height: 50px;
}
.details .like::after {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.container_filter {
  display: flex;
  flex-direction: row;
}
.container_filter span {
  margin: 10px 0;
}

.filter_photos {
  margin-left: 10px;
}
.filter_photos .menu_filter {
  position: absolute;
  list-style: none;
  overflow: hidden;
  border-radius: 10px;
  max-height: 40px;
}
.filter_photos .menu_filter li {
  background-color: #901c1c;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.filter_photos .menu_filter li:hover {
  background-color: #7f1919;
}
.filter_photos .menu_filter .fas {
  margin-left: 5px;
}

.container_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}
.container_img img,
.container_img video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: right 30%;
  cursor: pointer;
}
.container_img figcaption {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  color: #901c1c;
  font-size: large;
}
.container_img figcaption .like_image::after {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.modal-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  margin: 20vh auto 20px;
  padding: 20px;
  background-color: #e18d7a;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.modal-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.modal-title h2 {
  font-size: 2em;
  font-weight: 500;
}
.modal-title .cross {
  color: #fff;
  font-size: 1.5em;
  margin-top: 10px;
  cursor: pointer;
}

.formData {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formData .text-control {
  padding: 5px;
  margin-bottom: 10px;
  min-height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: large;
}
.formData #message {
  height: 100px;
}

#btn_send {
  border: none;
  background-color: #901c1c;
  color: #fff;
  font-weight: 700;
  height: 50px;
  padding: 10px;
  margin-left: 100px;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
  align-self: flex-start;
  width: 100px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}
#btn_send:hover {
  background-color: #7b1818;
}
#btn_send:focus {
  background-color: #7b1818;
}

.formSuccessMessage {
  display: none;
  margin: 20px 0;
  font-size: 1.5em;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.7em;
  color: red;
  display: block;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible=true]::after {
  opacity: 1;
}

.formData[data-error-visible=true] .text-control {
  border: 2px solid red;
}

input[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: red;
}

.modal-mask-img {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999;
  background-color: #fff;
}

.modal-img {
  width: 80%;
  overflow: hidden;
  margin: 5vh auto 20px;
  padding: 0 20px;
  background-color: #fff;
}

.close-modal-img {
  display: flex;
  justify-content: end;
}
.close-modal-img .cross {
  margin: 10px;
  font-size: 3em;
  color: #901c1c;
  cursor: pointer;
}

.figure-modal {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .arrow {
  margin: 20px;
  font-size: 3em;
  color: #901c1c;
  cursor: pointer;
}

.container-img-modal {
  width: 100%;
  height: 600px;
  overflow: hidden;
  box-shadow: 5px 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.container-img-modal .img-modal {
  width: 100%;
  height: auto;
}

.modal-description {
  margin: 10px 0 0 70px;
  color: #901c1c;
  font-size: 1.3em;
}

/*# sourceMappingURL=app.css.map */
